    <template name="index">
        c'est la page d'accueil !
        <br>
        {{#if currentUser}}
            Bonjour {{currentUser.profile.first_name}}
            <button class="facebook-logout" >Logout</button>
            <br>

            <div class="actions">
                <button type="button" class="actions_popo">Popo</button>
                <button type="button" class="actions_promenade">Promenade</button>
                <button type="button" class="actions_friandise">Friandise</button>
                <button type="button" class="actions_repas">Repas</button>
                <button type="button" class="actions_papattes">Papattes</button>
                <button type="button" class="actions_douche">Douche</button>
            </div>
        {{else}}
            <a href="/register">Inscription</a>
        {{/if}}
    </template>
